.board{
    background-image: url("/src/Images/background.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.errorPanel{
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 400px;
  font-size: 18px;
  color: white;
  text-align: center;
  background-color: #FF0000;
}
.logo{
    padding-top: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-image: url("/src/Images/blackjackLogo.png");
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
    
}
.login{
  position: relative;
  top:300px;
  width: 300px;
  height: 200px;
  background-color: antiquewhite;
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 3px;
  
}


.create_or_join_panel{
    
    text-align: center;
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: 80px;
    background-color: #FFE2B0;
    
    box-shadow: 3px 3px 3px black;
}
.create_player_panel{
    text-align: center;
    display: block;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    width: 500px;
    height: 50px;
    background-color: #FFE2B0;
    
    box-shadow: 3px 3px 3px black;
}
.error_panel{
    width: 300px;
    color: white;
    height: 30px;
    padding: 5px;
    margin: 10px;
    font-size: 14px;
    background-color: #FF0000;
}

.playerHand{
    text-align: center;
    
}

.card-front{
    
    height: 120px;
    width: 80px;
   
    background-image: url("/src/Images/Cards/Basto/spr_bastos_0.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px;
    
}
.card-back{
  height: 120px;
  width: 80px;
   
    background-image: url("/src/Images/Cards/Basto/spr_backs_0.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 5px 5px 5px;
}
.chip{
    height: 50px;
    width: 50px;
    
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 100px;
    box-shadow: 5px 5px 5px;
    
}

.player1-container{
    
     position: relative;
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 1100px;
   text-align: center;
    
}
.player2-container{
    
  position: relative;
  display: block;
  bottom: 500px;
  right: 700px;
  text-align: center;
  transform: rotate(90deg);
  
}
.player3-container{
  position: relative;
  bottom: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transform: rotate(180deg);
  
}
.player4-container{
  position: relative;
  display: block;
  
  text-align: center;
  transform: rotate(-90deg);
  bottom: 870px;
  left: 700px;
}
.grid-container {
    
    width: 500px;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    
    padding: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .grid-container-x2{
    position: relative;
    
    justify-content: left;
    display: grid;
    grid-template-columns: 100px 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
   
    
  }
  .grid-container-x4{
   
    width: 500px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    
    padding: 10px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .grid-item {
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
  }

  .grid-apuesta-container{
    
    width: 500px;
    
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    padding-top: 10px;
 
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    
  }
  .grid-item1-apuesta{
    
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 20px;
    left: 50px;
    
    
  }
  
  .grid-item2-apuesta{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom: 25px;
    left: 25px;
    text-align: center;
    font-size: 20px;
  }
  .grid-item3-apuesta{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    font-size: 20px;
    
  }
  .grid-item4-apuesta{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
    left: 50px;
    
    text-align: center;
    font-size: 20px;
    
  }
  .grid-item5-apuesta{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    bottom:25px;
    right: 125px;
    
    text-align: center;
    font-size: 20px;
    
  }
  .total-bet{
    position: relative;
    bottom: 20px;
    width: 200px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
  }
  .total-treasure{
    position: relative;
   
    width: 200px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 5px;
  }
  .hand-result{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px;
    background-color: aliceblue;
    left: 200PX;
  }
  .hand-resultP4{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 50px;
    width: 100px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px;
    background-color: aliceblue;
    right: 200PX;
    color: black;
  }
  .hand-resultP3{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 50px;
    width: 100px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px;
    background-color: aliceblue;
    right: 200PX;
    color: black;
  }
  .hand-resultP2{
    transform: rotate(90deg);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 50px;
    width: 100px;
    height: 20px;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 3px 3px 3px;
    background-color: aliceblue;
    right: 200PX;
    color: black;
  }
  .menu-actions{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 100px;
    padding: 10px;
    background-color: black;
  }
  .action-button{
    padding: 5px;
    margin-bottom: 5px;
    width: 50px;
    height: 30px;
    font-size: 14px;
    border-radius: 5px;
    color: white;
    background-color: #004073;
  }
  button:disabled,
    button[disabled] {
        border: 1px solid #999999;
        background-color: darkgrey;
        color: #fff;
       
        cursor: not-allowed;
    }

  .points-container{
    position: relative;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: white;
    font-size: 18px;
    text-align: center;
    
    box-shadow: 3px 3px 3px;
    left: 40px;
    bottom: 10px;
  }
  .user-profile{
    width: 40px;
    height: 40px;
    border-radius: 100px;
    background-image: url("/public/img/profile/userProfile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .bank{
    position: relative;
    top: 60px;
    width: 70px;
    height: 70px;
    background-color: rebeccapurple;
    font-size: 18px;
    border-radius: 100%;
    box-shadow: 3px 3px 3px;
    text-align: center;
    line-height: 65px;
  }
 
  

  
